@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
  background-color: #014e56;
}

main {
  flex-grow: 1;
}
h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.btn {
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 8.4px 31px 8.4px 31px;
  font-size: 18px;
  line-height: 28px;
}

.primary-btn {
  border-color: #ffffff;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #002529;
  }
}

.primary-btn-dark {
  border-color: #012f34;
  color: #012f34;

  &:hover {
    background-color: #012f34;
    color: #ffffff;
  }
}

.secondary-btn {
  background-color: #ffffff;
  color: #002529;

  &:hever {
    background-color: #79c8c7;
  }
}

.header {
  background-color: #014e56;
  padding-top: 73px;
  padding-bottom: 73px;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-logo {
  margin-right: 80px;

  &:hover {
    opacity: 0.8;
  }
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}

#active {
  color: #f67e7e;
}

.sitenav__link {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;

  &:hover {
    color: #f67e7e;
  }
}

.footer__cta {
  background-color: #f67e7e;
  color: #012f34;
  padding-top: 76px;
  padding-bottom: 76px;

  background-image: url(../images/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom left;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__cta__title {
  font-family: "Livvic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;

  .container {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.footer__container-links {
  margin-right: 125px;
}

.footer__logo {
  margin-bottom: 25px;

  &:hover {
    opacity: 0.8;
  }
}

.footer__container-nav__pages-list {
  display: flex;
  gap: 40px;
}

.footer__container__social-links {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer__container__social_link {
  color: #ffffff;

  & i:hover {
    color: #f67e7e;
  }
}

.footer__container__description {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}
.hero {
  padding-top: 56px;
  padding-bottom: 250px;
  background-image: url(../images/bg-pattern-home-1.svg),
    url(../images/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: top 70px left -100px, bottom 0 right 165px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__title {
  font-size: 100px;
  line-height: 100%;
}
.orange_color {
  color: #f67e7e;
}
.hero__descraption {
  width: 445px;
  display: flex;
  flex-direction: column;
}
.divider {
  display: inline-block;
  width: 50px;
  height: 4px;
}
.hero-divider {
  margin-bottom: 79px;
  background-color: #79c8c7;
}
.team-section {
  padding-top: 140px;
  padding-bottom: 140px;

  background-color: #003333;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right -100px;
}
.team-section_container {
  display: flex;
}
.content {
  margin-right: 125px;
}
.content h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
}

.underline {
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: #f25f3a;
  margin-bottom: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
}

.feature {
  display: flex;
  gap: 20px;
}

.icon img {
  width: 50px;
  height: 50px;
  background-color: #0c4b50;
  border-radius: 50%;
  padding: 10px;
}

.text h4 {
  color: #f25f3a;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.text p {
  margin: 0;
  color: #cfdedf;
  font-size: 14px;
}
.testimonials {
  background-image: url("../images/bg-pattern-home-5.svg"),
    url("../images/bg-pattern-home-4-about-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  padding-top: 140px;
  padding-bottom: 140px;
}

/* .testimonials__container {} */

.testimonials__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 56px;
  width: 100%;
  max-width: 932px;
  margin-right: auto;
  margin-left: auto;
}

.testimonials__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.testimonials__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 350px;
  background-image: url("../images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 36px;

  & i {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-bottom: 30px;
  }
}

.testimonials__descraption {
  margin-bottom: 24px;
}

.testimonials__name {
  color: #79c8c7;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}

.testimonials__img {
  border-radius: 50%;
  border: 2px solid #c4fffe;
}
